# Dependencies
backend/node_modules/

# Secrets - NEVER commit these
Kubernetes/secret.yaml
backend/.env.docker
.env

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

frontend/package-lock.json
frontend/package.json
frontend/node_modules
backend/package.json
backend/package-lock.json