# Copy this file to secret.yaml and fill in real values
# DO NOT commit secret.yaml to Git
apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: Academy-app
type: Opaque
stringData:
  MYSQL_ROOT_PASSWORD: <your-root-password>
  MYSQL_USER: <your-db-user>
  MYSQL_PASSWORD: <your-db-password>
  MYSQL_DATABASE: <your-db-name>
